In [1]:
a = 5678
print(a, type(a))

5678 <class 'int'>

In [3]:
pip install qrcode

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: qrcode in c:\users\chana\appdata\roaming\python\python312\site-packages (8.2)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from qrcode) (0.4.6)

a = 456 + 8j
print(a,type(a))

In [5]:
a = 456 + 8j
print(a,type(a))

(456+8j) <class 'complex'>

In [ ]:
a = 'Hello Python'

In [7]:
poem = '''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''

print(poem)

Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are

In [8]:
a = (2,3434,5,5467)
print(a,type(a))

(2, 3434, 5, 5467) <class 'tuple'>

In [9]:
a = [2,3434,5,5467]
print(a,type(a))

[2, 3434, 5, 5467] <class 'list'>

In [10]:
a[2] = 4000
print(a)

[2, 3434, 4000, 5467]

In [11]:
a = (2,3434,5,5467)
print(a[3])

5467

In [12]:
a[3] = 60
a

TypeError: 'tuple' object does not support item assignment

In [13]:
a = list(a)
a[3] = 900
a = tuple(a)
print(a)

(2, 3434, 5, 900)

In [14]:
std_id = [1,1,2,2,2,2,23,3,3,3,4,4,45]
print(std_id)

[1, 1, 2, 2, 2, 2, 23, 3, 3, 3, 4, 4, 45]

In [15]:
std_id = list(set(std_id))
std_id

[1, 2, 3, 4, 45, 23]

In [16]:
a = {'Name' : 'Aman','Age' : '20','Address' : 'Delhi'}
print(a,type(a))

{'Name': 'Aman', 'Age': '20', 'Address': 'Delhi'} <class 'dict'>

In [17]:
a['Address'] = 'Noida/Gr Noida'
print(a)

{'Name': 'Aman', 'Age': '20', 'Address': 'Noida/Gr Noida'}

In [18]:
a['Name'] = 'Aman Kumar'
print(a)

{'Name': 'Aman Kumar', 'Age': '20', 'Address': 'Noida/Gr Noida'}

In [21]:
data = {'Region' : ['West','East','North','South'],
         'Sales' : ['345','346','453','456'],
          'Profit' : ['120','200','90','78']}

print(data)

{'Region': ['West', 'East', 'North', 'South'], 'Sales': ['345', '346', '453', '456'], 'Profit': ['120', '200', '90', '78']}

In [22]:
import pandas as pd
table = pd.DataFrame(data)

In [23]:
table

  Region Sales Profit
0   West   345    120
1   East   346    200
2  North   453     90
3  South   456     78

In [24]:
a = True
print(a,type(a))

True <class 'bool'>

In [29]:
salary = 27800

if salary>=50000:
    print('He is a manager')

elif salary>=30000:
    print('He is a junior manager')

elif salary>=20000:
    print('He is an executive')

else:
    print('He is an intern')

He is an executive

In [30]:
import random
random.randint(10000,60000)

13538

In [39]:
import numpy as np
database_salary = np.random.randint(10000,60000,5)

In [40]:
print(salary)

47280

In [41]:
for i in database_salary:
    salary = i

if salary>=50000:
    print(i, 'He is a manager')

elif salary>=30000:
    print(i,'He is a junior manager')

elif salary>=20000:
    print(i,'He is an executive')

else:
    print(i,'He is an intern')
    print(i)

58267 He is a manager

In [47]:
import time
for i in range(100):
    print(time.asctime())
    time.sleep(1)

Mon Jun 30 12:58:15 2025
Mon Jun 30 12:58:16 2025
Mon Jun 30 12:58:17 2025
Mon Jun 30 12:58:18 2025
Mon Jun 30 12:58:19 2025
Mon Jun 30 12:58:20 2025
Mon Jun 30 12:58:21 2025
Mon Jun 30 12:58:22 2025
Mon Jun 30 12:58:23 2025
Mon Jun 30 12:58:24 2025
Mon Jun 30 12:58:25 2025
Mon Jun 30 12:58:26 2025
Mon Jun 30 12:58:27 2025
Mon Jun 30 12:58:28 2025
Mon Jun 30 12:58:29 2025
Mon Jun 30 12:58:30 2025
Mon Jun 30 12:58:31 2025
Mon Jun 30 12:58:32 2025
Mon Jun 30 12:58:33 2025
Mon Jun 30 12:58:34 2025
Mon Jun 30 12:58:35 2025
Mon Jun 30 12:58:36 2025
Mon Jun 30 12:58:37 2025
Mon Jun 30 12:58:38 2025
Mon Jun 30 12:58:39 2025
Mon Jun 30 12:58:40 2025
Mon Jun 30 12:58:41 2025
Mon Jun 30 12:58:42 2025
Mon Jun 30 12:58:43 2025
Mon Jun 30 12:58:44 2025
Mon Jun 30 12:58:45 2025
Mon Jun 30 12:58:46 2025
Mon Jun 30 12:58:47 2025
Mon Jun 30 12:58:48 2025
Mon Jun 30 12:58:49 2025
Mon Jun 30 12:58:50 2025
Mon Jun 30 12:58:51 2025
Mon Jun 30 12:58:52 2025
Mon Jun 30 12:58:53 2025
Mon Jun 30 12:58:54 2025
Mon Jun 30 12:58:55 2025
Mon Jun 30 12:58:56 2025
Mon Jun 30 12:58:57 2025
Mon Jun 30 12:58:58 2025
Mon Jun 30 12:58:59 2025
Mon Jun 30 12:59:00 2025
Mon Jun 30 12:59:01 2025
Mon Jun 30 12:59:02 2025
Mon Jun 30 12:59:03 2025
Mon Jun 30 12:59:04 2025
Mon Jun 30 12:59:05 2025
Mon Jun 30 12:59:06 2025
Mon Jun 30 12:59:07 2025
Mon Jun 30 12:59:08 2025
Mon Jun 30 12:59:09 2025
Mon Jun 30 12:59:10 2025
Mon Jun 30 12:59:11 2025
Mon Jun 30 12:59:12 2025
Mon Jun 30 12:59:13 2025
Mon Jun 30 12:59:14 2025
Mon Jun 30 12:59:15 2025
Mon Jun 30 12:59:16 2025
Mon Jun 30 12:59:17 2025
Mon Jun 30 12:59:18 2025
Mon Jun 30 12:59:19 2025
Mon Jun 30 12:59:20 2025
Mon Jun 30 12:59:21 2025
Mon Jun 30 12:59:22 2025
Mon Jun 30 12:59:23 2025
Mon Jun 30 12:59:24 2025
Mon Jun 30 12:59:25 2025
Mon Jun 30 12:59:26 2025
Mon Jun 30 12:59:27 2025
Mon Jun 30 12:59:28 2025
Mon Jun 30 12:59:29 2025
Mon Jun 30 12:59:30 2025
Mon Jun 30 12:59:31 2025
Mon Jun 30 12:59:32 2025
Mon Jun 30 12:59:33 2025
Mon Jun 30 12:59:34 2025
Mon Jun 30 12:59:35 2025
Mon Jun 30 12:59:36 2025
Mon Jun 30 12:59:37 2025
Mon Jun 30 12:59:38 2025
Mon Jun 30 12:59:39 2025
Mon Jun 30 12:59:40 2025
Mon Jun 30 12:59:41 2025
Mon Jun 30 12:59:42 2025
Mon Jun 30 12:59:43 2025
Mon Jun 30 12:59:44 2025
Mon Jun 30 12:59:45 2025
Mon Jun 30 12:59:46 2025
Mon Jun 30 12:59:47 2025
Mon Jun 30 12:59:48 2025
Mon Jun 30 12:59:49 2025
Mon Jun 30 12:59:50 2025
Mon Jun 30 12:59:51 2025
Mon Jun 30 12:59:52 2025
Mon Jun 30 12:59:53 2025
Mon Jun 30 12:59:54 2025

In [48]:
import time
for i in range(100):
    print(time.asctime())
    time.sleep(1)

Mon Jun 30 12:59:55 2025
Mon Jun 30 12:59:56 2025
Mon Jun 30 12:59:57 2025
Mon Jun 30 12:59:58 2025
Mon Jun 30 12:59:59 2025
Mon Jun 30 13:00:00 2025
Mon Jun 30 13:00:01 2025
Mon Jun 30 13:00:02 2025
Mon Jun 30 13:00:03 2025
Mon Jun 30 13:00:04 2025
Mon Jun 30 13:00:05 2025
Mon Jun 30 13:00:06 2025
Mon Jun 30 13:00:07 2025
Mon Jun 30 13:00:08 2025
Mon Jun 30 13:00:09 2025
Mon Jun 30 13:00:10 2025
Mon Jun 30 13:00:11 2025
Mon Jun 30 13:00:12 2025
Mon Jun 30 13:00:13 2025
Mon Jun 30 13:00:14 2025
Mon Jun 30 13:00:15 2025
Mon Jun 30 13:00:16 2025
Mon Jun 30 13:00:17 2025
Mon Jun 30 13:00:18 2025
Mon Jun 30 13:00:19 2025
Mon Jun 30 13:00:20 2025
Mon Jun 30 13:00:21 2025
Mon Jun 30 13:00:22 2025
Mon Jun 30 13:00:23 2025
Mon Jun 30 13:00:24 2025
Mon Jun 30 13:00:25 2025
Mon Jun 30 13:00:26 2025
Mon Jun 30 13:00:27 2025
Mon Jun 30 13:00:28 2025
Mon Jun 30 13:00:29 2025
Mon Jun 30 13:00:30 2025
Mon Jun 30 13:00:31 2025
Mon Jun 30 13:00:32 2025
Mon Jun 30 13:00:33 2025
Mon Jun 30 13:00:34 2025
Mon Jun 30 13:00:35 2025
Mon Jun 30 13:00:36 2025
Mon Jun 30 13:00:37 2025
Mon Jun 30 13:00:38 2025
Mon Jun 30 13:00:39 2025
Mon Jun 30 13:00:40 2025
Mon Jun 30 13:00:41 2025
Mon Jun 30 13:00:42 2025
Mon Jun 30 13:00:43 2025
Mon Jun 30 13:00:44 2025
Mon Jun 30 13:00:45 2025
Mon Jun 30 13:00:46 2025
Mon Jun 30 13:00:47 2025
Mon Jun 30 13:00:48 2025
Mon Jun 30 13:00:49 2025
Mon Jun 30 13:00:50 2025
Mon Jun 30 13:00:51 2025
Mon Jun 30 13:00:52 2025
Mon Jun 30 13:00:53 2025
Mon Jun 30 13:00:54 2025
Mon Jun 30 13:00:55 2025
Mon Jun 30 13:00:56 2025
Mon Jun 30 13:00:57 2025
Mon Jun 30 13:00:58 2025
Mon Jun 30 13:00:59 2025
Mon Jun 30 13:01:00 2025
Mon Jun 30 13:01:01 2025
Mon Jun 30 13:01:02 2025
Mon Jun 30 13:01:03 2025
Mon Jun 30 13:01:04 2025
Mon Jun 30 13:01:05 2025
Mon Jun 30 13:01:06 2025
Mon Jun 30 13:01:07 2025
Mon Jun 30 13:01:08 2025
Mon Jun 30 13:01:09 2025
Mon Jun 30 13:01:10 2025
Mon Jun 30 13:01:11 2025
Mon Jun 30 13:01:12 2025
Mon Jun 30 13:01:13 2025
Mon Jun 30 13:01:14 2025
Mon Jun 30 13:01:15 2025
Mon Jun 30 13:01:16 2025
Mon Jun 30 13:01:17 2025
Mon Jun 30 13:01:18 2025
Mon Jun 30 13:01:19 2025
Mon Jun 30 13:01:20 2025
Mon Jun 30 13:01:21 2025
Mon Jun 30 13:01:22 2025
Mon Jun 30 13:01:23 2025
Mon Jun 30 13:01:24 2025
Mon Jun 30 13:01:25 2025
Mon Jun 30 13:01:26 2025
Mon Jun 30 13:01:27 2025
Mon Jun 30 13:01:28 2025
Mon Jun 30 13:01:29 2025
Mon Jun 30 13:01:30 2025
Mon Jun 30 13:01:31 2025
Mon Jun 30 13:01:32 2025
Mon Jun 30 13:01:33 2025
Mon Jun 30 13:01:34 2025

In [51]:
import time
for i in range(100):
    print(time.asctime())
    time.sleep(1)
    display(clear=True)

Mon Jun 30 13:06:36 2025